.cardlist {
  overflow: auto;
  .cardlist-inner {
    ul {
      display: grid;
      gap: 1.5rem;
      list-style: none;
      li {
        padding: 1.2rem;
        background-color: var(--cardBackground);
        box-shadow: 1px 1px 5px var(--cardBoxShadow);
      }
    }
    .notice-text {
      position: absolute;
      left: 50%;
      top: 48%;
      transform: translate(-50%, -50%);
    }
  }
}
